.linkToHang{
  
    background-image: linear-gradient(rgb(255, 242, 125), rgba(255, 193, 79, 0.925));
    border-radius: 15px;
    padding:10px;
    
    &:hover {
        background-color:rgb(0, 247, 255);
        cursor: pointer;
    }


}