.arrows{
    background-image: url('./arrows.png');
    
    width: 810px;
    height:250px;
    margin-left:50px;
    position:relative;
    bottom:7px;
    z-index:1;

}
.fatBottom{
    position:relative;
    bottom:235px;
    z-index:-1;

}
.resume{
    margin-top: 20px;
}
.document{
    height:30px;
    background-image: linear-gradient(rgb(255, 242, 125), rgba(255, 193, 79, 0.925));
    border: thin black;
}
.rutgers{
    display: flex;
   
}
.rutgersAlum{
    padding-left: 20px;

    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    from {opacity: 0;}
    to {opacity: 100%;}
  }
  
  /* The element to apply the animation to */
   