
.fatBottom{
    position:relative;
    z-index:0;

}
.resume{
    margin-top: 20px;
}
.document{
    height:30px;
    background-image: linear-gradient(rgb(255, 242, 125), rgba(255, 193, 79, 0.925));
    border: thin black;
    &:hover{
        cursor:pointer;
    }

}



  /* The element to apply the animation to */
   